/*-------------------------------------------------------------------------*/
/*                               Media Queries                             */
/*-------------------------------------------------------------------------*/



/*************************************/
/*           max-width: 776px        */
/*************************************/

@media (max-width:767px) {
    .page_title {
        text-align: center;
    }

    .page_title:before {
        top: -10px;
        left: -10px;
    }

    .contact_avencer .row .page_title {
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
    }

    /*----------------home page responsive css------------------*/


    .logo_image_img {
        margin: 0;
    }

    .logo_img {
        max-width: 130px;
        padding-top: 15px;
    }

    .nav_bar {
        top: 60px;
        right: 25px;
    }

    .nav_bar_logo {
        max-width: 40px;
    }

    .header_text__text {
        margin-top: 100px;
    }

    .banner_text {
        margin-bottom: 80px;
    }

    .home_button {
        margin-bottom: 50px;
    }

    .page_scroll {
        margin-bottom: 80px;
    }



    /*----------------about_wrapper responsive css----------------*/

    .about_wrapper {
        padding-bottom: 60px;
        padding-top: 10px;
    }

    .about_wrapper .row figure {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .about_image {
        padding-right: 0;
    }

    .about_text {
        padding-left: 0;
    }

    .page_title {
        margin-bottom: 60px;
    }

    .content_and_button {
        padding-left: 0px;
    }


    /*--------------service_avencer_wrapper--------------*/

    .service_avencer_wrapper .row figure {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    .service_avencer_wrapper .page_title {
        max-width: 100%;
    }

    .service_logo {
        margin: 0 auto;
    }

    .service_avencer_wrapper {
        padding-bottom: 60px;
        padding-top: 90px;
    }

    .service_itmes_padding_right {
        padding-right: 30px;
    }

    .service_itmes_padding_left {
        margin-top: 30px;
        padding-left: 30px;
    }

    .service_itmes_padding_right {
        padding-right: 15px;
    }

    /*-------------portfolio_wrapper--------------------*/

    .portfolio_wrapper {
        padding: 80px 0 100px;
    }

    .portfolio_content .col-sm-4 {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }


    /*--------------- meet_expert_wrapper------------------ */

    .meet_expert_wrapper .row figure {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .meet_expert_wrapper {
        padding: 90px 0;
    }

    .expert_img_I_p_6 {
        width: 100%;
    }

    .expert_meet_person_2 {
        margin-top: 0;
    }

    .expert_meet_person_3 {
        margin-top: 0;
    }

    /*-----------contact_avencer .row .page_title---------------*/

    .col-sm-6.map_img {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .contact_avencer .row .page_title {
        margin-bottom: 60px;
    }

    .contact_avencer .page_title {
        margin-top: 70px;
    }

    .contact_avencer .address_contact {
        margin-bottom: 75px;
    }

    .contact_avencer .page_title:before {
        left: 40px;
    }

    .address_contact {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .contact_avencer .address_contact {
        margin-bottom: 30px;
    }

    .divider_line_styles {
        border: 0;
        padding-right: 0;
    }

    .form-group.col-sm-6 {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .button_in_map {
        margin-bottom: 50px;
        margin-top: 0;
        margin-left: 10px;
    }


}

@media (max-width:440px) {
    .about_image {
        padding-right: 0;
    }

    .about_wrapper .page_title {
        padding-right: 0;
    }

    .about_wrapper .page_title:before {
        left: 40px;
    }

    .service_itmes_padding_left {
        padding-left: 15px;
    }

    .service_logo {
        margin: 0 auto;
    }

    .service_of_avencer {
        text-align: center;
    }

    .about_text_p {
        text-align: center;
    }

    .btn_small_in_about {
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
    }


    .meet_expert_wrapper .page_title:before {
        left: 0;
    }

    .expert_meet_person_2 {
        margin-top: 0;
    }

    .expert_meet_person_3 {
        margin-top: 0;
    }

    .button_in_map {
        margin-left: 0;
    }

    .divider_line_styles {
        border-right: none;
        padding-right: 0;
    }


}

@media (max-width:420px) {

    .meet_expert_wrapper .page_title:before {
        left: 40px;
    }

    .contact_avencer .page_title:before {
        left: -11px;
    }

    .meet_expert_wrapper .page_title:before {
        left: 0;
    }

}


@media (max-width:380px) {

    section.contact_avencer_wrapper .page_title:before {
        left: 55px;
    }

    .meet_expert_wrapper .page_title:before {
        left: 40px;
    }
}
