@charset "UTF-8";

/*-------------------------------------------------------------------------*/
/*                                 fonts                                   */
/*-------------------------------------------------------------------------*/
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../font/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Light.otf') format('opentype'),
        url('../font/Montserrat-Light.woff') format('woff'),
        url('../font/Montserrat-Light.ttf') format('truetype'),
        url('../font/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Medium.otf') format('opentype'),
        url('../font/Montserrat-Medium.woff') format('woff'),
        url('../font/Montserrat-Medium.ttf') format('truetype'),
        url('../font/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Regular.otf') format('opentype'),
        url('../font/Montserrat-Regular.woff') format('woff'),
        url('../font/Montserrat-Regular.ttf') format('truetype'),
        url('../font/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------------------------------*/
/*                               border                                    */
/*-------------------------------------------------------------------------*/

body {
    background-color: #29253d;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fefefe;
}

/*-------------------------------------------------------------------------*/
/*                            section header                               */
/*-------------------------------------------------------------------------*/

.avencer_header {
    background-image: url(../img/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*************************************/
/*         avencer header top        */
/*************************************/
.logo_image_img {
    display: block;
    margin: 45px auto;
}

.logo_img {
    max-width: 230px;
}

.nav_bar_logo {
    max-width: 62px;
}

.nav_bar {
    position: absolute;
    top: 88px;
    right: 65px;
}

/*************************************/
/*        avencer header body        */
/*************************************/
.header_text__text {
    text-align: center;
    font-family: "Montserrat-Light";
    color: #fefefe;
    font-size: 42px;
    letter-spacing: 0.8px;
    margin-top: 176px;
    margin-bottom: 60px;
}


.avencer_name {
    font-family: "Montserrat-Medium";
    color: #faae53;
    font-size: 52px;
}

.banner_text {
    max-width: 608.51px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.banner_text__text {
    text-align: center;
    font-family: "Montserrat-Light";
    color: #fefefe;
    font-size: 20px;
}


/*************************************/
/*             home button           */
/*************************************/
.button {
    text-align: center;
}

.home_button {
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    margin-bottom: 255px;
    position: relative;
    padding: 18px 20px;
    letter-spacing: 1.6px;
    color: #fefefe;
}


/*************************************/
/*          home button hover        */
/*************************************/
.home_button:hover,
.home_button:active {
    background-color: #faae53;
    color: #fefefe;
}

.home_button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



/*************************************/
/*      home button border style     */
/*************************************/
.home_button:before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    height: 45px;
    width: 45px;
    z-index: 1;
    border-left: 2px solid #faae53;
    border-top: 2px solid #faae53;
}

.home_button:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 2px solid #faae53;
    border-right: 2px solid #faae53;
    z-index: 1;
    height: 45px;
    width: 45px;
}

.page_scroll {
    text-align: center;
    margin-bottom: 100px;
}

/*-------------------------------------------------------------------------*/
/*                     reuseable header top with span                      */
/*-------------------------------------------------------------------------*/


.page_title {
    font-family: "Montserrat-Medium";
    font-size: 32px;
    letter-spacing: 0.8px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 120px;
}

.page_title span {
    color: #faae53;
}


/*************************************/
/*    page title border top style    */
/*************************************/
.page_title:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -12px;
    border-top: 4px solid #faae53;
    border-left: 4px solid #faae53;
    height: 25px;
    width: 25px;
}

/*-------------------------------------------------------------------------*/
/*                            about content                                */
/*-------------------------------------------------------------------------*/

.about_wrapper {
    padding-bottom: 165px;
    padding-top: 150px
}

/*************************************/
/*            about image            */
/*************************************/
.about_image {
    margin-top: 95px;
    float: right;
    padding-right: 60px;
}

/*************************************/
/*             about text            */
/*************************************/

.about_text {
    margin-top: 100px;
    float: left;
    padding-left: 60px;
}

.about_wrapper .page_title {
    padding-right: 130px;
}

.content_and_button {
    font-family: "Montserrat-Light";
    padding-left: 25px;
}

.about_text_p {
    font-size: 16px;
}

.about_text_p:first-child {
    margin-top: 65px;
    margin-bottom: 23px;
}


/*************************************/
/*           about button            */
/*************************************/
.btn_small_in_about {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    letter-spacing: 1.6px;
    background-color: transparent;
    color: #fefefe;
    border: none;
    border-radius: 0;
    padding: 13px 47.5px;
    position: relative;
    margin-top: 60px;

}


/*************************************/
/*         about button hover        */
/*************************************/
.btn_small_in_about:hover,
.btn_small_in_about:active {
    background-color: #faae53;
    color: #fefefe;
    border-radius: 0;
    border: 0;
}

.btn_small_in_about:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}


/*************************************/
/*    about button border style      */
/*************************************/
.btn_small_in_about:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    height: 33px;
    width: 33px;
    border-top: 2px solid #faae53;
    border-left: 2px solid #faae53;
}


.btn_small_in_about:after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -5px;
    height: 33px;
    width: 33px;
    border-bottom: 2px solid #faae53;
    border-right: 2px solid #faae53;
}


/*-------------------------------------------------------------------------*/
/*                       section service avencer                           */
/*-------------------------------------------------------------------------*/


.service_avencer_wrapper {
    background-color: #453e69;
    padding-bottom: 200px;
    padding-top: 200px;
}

.service_avencer_wrapper .page_title {
    max-width: 320px;
}


/*************************************/
/*            service logo           */
/*************************************/
.service_logo {
    height: 132px;
    width: 132px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    padding: 35px;
}

.service_of_avencer h3 {
    font-family: "Montserrat-Medium";
    font-size: 32px;
    letter-spacing: 0.8px;
    margin-top: 55px;
    margin-bottom: 25px;
}

.service_of_avencer {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.service_of_avencer:hover .service_logo {
    border-color: #faae53;
}

.service_of_avencer:hover h3 {
    color: #faae53;
}

.service_of_avencer p {
    font-size: 16px;
    font-family: "Montserrat-Light";
}

/*************************************/
/* service avencer some extra style  */
/*************************************/

.extra_style_web_design {
    padding: 0px 10px;
}


.service_logo .fast-delivery {
    position: absolute;
    left: 120px;
}

.service_itmes_padding_left {
    margin-top: 55px;
    padding-left: 90px;
}


.service_itmes_padding_right {
    padding-right: 90px;
}

/*-------------------------------------------------------------------------*/
/*                           section portfolio                             */
/*-------------------------------------------------------------------------*/

.portfolio_wrapper {
    padding: 200px 0 142px;
}

.portfolio_wrapper .page_title {
    max-width: 235px;
}

/*************************************/
/*     portfolio custom col-sm-4     */
/*************************************/
.portfolio_content .col-sm-4 {
    padding-left: 3px;
    padding-right: 3px;
}

.portfolio_items {
    margin: 6px 0;
    position: relative;

}

.portfolio_items img {
    display: block;
    width: 100%;
    height: auto;
}

/*************************************/
/*      portfolio hover content      */
/*************************************/
.hover_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background: rgba(250, 174, 83, 0.8);
}

.portfolio_items:hover .hover_content {
    opacity: 0.8;
}

.hover_content h4,
.hover_content p {
    font-family: "Montserrat-Medium";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #29253d;
}

.hover_content h4 {
    font-size: 24px;
    padding-bottom: 40px;
}

.hover_content p {
    font-size: 16px;
    margin-top: 20px;
}


/*-------------------------------------------------------------------------*/
/*                     section meet avencer experts                        */
/*-------------------------------------------------------------------------*/


.meet_expert_wrapper {
    padding: 150px 0;
    background-image: url(../img/team%20background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.meet_expert_wrapper .page_title {
    max-width: 380px;
}


.expert_meet_person_2 {
    margin-top: 60px;
}

.expert_meet_person_3 {
    margin-top: 120px;
}

/*************************************/
/*         expert meet hover         */
/*************************************/
.expert_meet_content {
    position: relative;
}

.expert_meet_hover {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background: rgba(250, 174, 83, 0.9);
    padding-left: 40px;
    height: 100%;
    padding-top: 30px;
}

.expert_meet_content:hover .expert_meet_hover {
    opacity: 0.9;
}


.expert_meet_hover h4,
.expert_meet_hover p {
    font-family: "Montserrat-Medium";
    position: absolute;
    color: #29253d;
}

.expert_meet_hover h4 {
    font-size: 24px;
    padding-bottom: 40px;

}

.expert_meet_hover p:before {
    content: "";
    position: absolute;
    width: 40px;
    border: 1px solid #ffffff;
    left: 0;
    top: -10px;
}

.expert_meet_hover p {
    font-size: 16px;
    margin-top: 60px;
}

/*************************************/
/*     social icon releted style     */
/*************************************/
.social_icon {
    list-style: none;
    padding-left: 0;
    margin-top: 110px;
}

.social_icon li {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0.8px;
    height: 40px;
    width: 40px;
    border: 2px solid #2f293e;
    border-radius: 50%;
    padding: 2px 10px;
    margin-right: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.social_icon li a {
    text-decoration: none;
    color: #2f293e;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.extra_fb_padd_left {
    padding-left: 3px;
}

.extra_instagram_margin_left {
    margin-left: -1px;
}

.social_icon li:hover {
    border-color: #fafafa;
    cursor: pointer;
}

.social_icon li:hover a {
    color: #fafafa;
}

/*-------------------------------------------------------------------------*/
/*                      Get Contact avencer wrapper                        */
/*-------------------------------------------------------------------------*/

.contact_avencer_wrapper {
    background-color: #453e69;
}

.contact_avencer .page_title {
	float: left;
	margin-top: 100px;
}


.map_img {
    background-image: url(../img/map%20.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map_image_position {
    position: relative;
    height: auto;
}

.map_indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact_avencer {
	margin: 0 auto;
}

.contact_avencer .row .page_title {
	margin-bottom: 108px;
	left: 80px;
}

.address_contact {
    text-align: center;
}

.address_contact h3, p {
    font-family: "Montserrat-Regular";
    letter-spacing: 0.8px;
}

.address_contact h3 {
	font-size: 20px;
	line-height: 40px;
}

.address_contact p {
	font-size: 16px;
	opacity: 0.6;
	line-height: 30px;
}

.contact_logo {
    margin-bottom: 30px;
    color: #faae53;
    font-size: 40px;
}

.contact_avencer .address_contact {
	margin-bottom: 120px;
}

.divider_line_styles {
	border-right: 1px solid #faae53;
    padding-right: 15px;
}




.contact_avencer_wrapper input {
    outline: none;
    border: none;
    background: transparent;
    padding-left: 0;
    border-bottom: 1px solid #faae53;
    border-radius: 0;
    color: white;
    opacity: 0.7;
    transition: all 0.2s;
}

.contact_avencer_wrapper textarea{
	outline: none;
	border: none;
	background: transparent;
	padding-left: 0;
}

.contact_avencer_wrapper .form-control:focus,
.contact_avencer_wrapper .form-control:hover {
    background-color: transparent;
    border-color: #faae53;
    outline: 0;
    box-shadow: none;
    opacity: 1;
    color: white;
}

.from_custom_padd {
    padding: 0 40px;
}

.button_in_map {
	float: right;
	margin-right: 45px;
	margin-bottom: 100px;
}



/*-------------------------------------------------------------------------*/
/*                              footer wrapper                             */
/*-------------------------------------------------------------------------*/

.footer_icons {
    list-style: none;
    padding: 70px 0 30px;
    text-align: center;
}

.footer_icons li {
     display: inline-block; 
    padding: 0 5px; 
}

.footer_icons a {
	text-decoration: none;
	border: 1px solid #faae53;
	font-size: 20px;
	color: #faae53;
	display: block;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
    opacity: 0.5;
    transition: all 0.2s;
}

.footer_icons a:hover {
    opacity: 1;
}

.footer_text {
	color: #faae53;
	font-size: 14px;
	font-family: "Montserrat-Light";
	text-align: center;
    margin-bottom: 60px;
}

.footer_text a {
    border-bottom: 1px solid #faae53;
    text-decoration: none;
    color: #faae53;
    background-color: transparent;
    transition: all 0.2s;
}

.footer_text a:hover {
    background-color: #faae53;
    color: #ffffff;
}
